/* main containee */
.main_body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 1400px;
    height: 680px;

    background: linear-gradient(to top left, #ffa1d6, #f0a7e5, #dfaef0, #ccb4f7, #b9bafb, #a8c3ff, #99ccff, #8fd3ff, #87dfff, #85ebff, #8af5fe, #96fff8);
    border-radius: 20px;

    overflow: hidden;
}
/* input container */
.input-container {
    width: 530px;
    height: 637px;
    left: 12px;
    top: 21px;

    background: #FFFFFF;
    border-radius: 26px;
}
/* Display details */
.display-details {
    width: 837px;
    height: 637px;
    left: 553px;
    top: 21px;

    background: #FFFFFF;
    border-radius: 26px;

    overflow: hidden;
}
/* styling input area */
.input-area {
    width: 92.7%;
    padding: .6rem;
}
/* input name details */
.input-details {
    margin: 2rem;
}
.input-details>* {
    margin: .5rem;
}
/* Button container */
.btn-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}
/* Button design */
.btn {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFFFFF;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
.btn:active {
    box-shadow: #000045 0 12px 24px -10px;
    transform: translateY(2px);
}
/* imput box design */
input {
    border: 2px solid #5E5DF0;
    border-radius: 8px;
    background-color: whitesmoke;
    outline: none;
}
input:focus {
    border: 2px solid #13139c;
}
#userId {
    background-color: rgba(215, 210, 210, 0.921);
}

/* *****************display designs****************** */
.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 95%;
    left: 0;
    right: 0;
    margin: 20px auto;

    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    overflow: hidden;
}
/* table head */
.content-table thead tr {
    font-family: 'Sono', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    background-color: #a0a0f1;
    text-align: left;

    margin-bottom: 1rem;
}
.content-table thead th {
    padding: .8rem;
}

/* table body */
.content-table tbody td {
    /* border-bottom: 1px solid gray; */
    background-color: #f3f3f3;
    padding: .5rem;
}

/* Edit and delete button design */
.editBtn {
    width: 27px;
    margin-inline: 6px;
}
.editBtn:active {
    transform: translateY(1px);
}
.deleteBtn {
    width: 30px;
    margin-inline: 6px;
}
.deleteBtn:active {
    transform: translateY(1px);
}
.footer {
    width: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
}
/* When no data is found */
.notFound {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    background-color: rgb(233, 145, 113);
    text-align: center;
    width: 75%;
    padding: .6rem;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;

    border-radius: 1.5rem;
}

/* Media Queries */
@media (max-width: 425px) {
    .main_body {
        width: 350px;
        height: 650px;
    }
    .input-container {
        width: 335px;
        height: 265px;
        left: 9px;
        top: 9px;
    }
    /* styling input area */
    .input-area {
        width: 50%;
    }
    /* input name details */
    .input-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px;
    }
    .input-details>* {
        margin: 2px;
    }
    /* Button container */
    .btn-container {
        margin-top: 1rem;
    }
    .btn {
        font-weight: 500;
        line-height: 16px;
        padding: 8px 12px;
    }
    .display-details {
        width: 345px;
        height: 358px;
        left: 9px;
        top: 284px;
    }
    /* *****************display designs****************** */
    .content-table {
        font-size: 0.7em;
        width: 95%;
        margin: 10px auto;
    }
    /* table head */
    .content-table thead tr {
        letter-spacing: .5px;

        margin-bottom: 1rem;
    }
    .content-table thead th {
        padding: 6px;
    }
    /* table body */
    .content-table tbody td {
        padding: 4px;
    }
    .editBtn {
        margin: 0;
    }
    .deleteBtn {
        margin: 0;
    }
}