body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, #183259, #005375, #007378, #278f63, #89a44c);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* display flex */
.flex {
    display: flex;
}
/* flex direction coloumn */
.flex-column {
    flex-direction: column;
}

/* justify content */
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-center {
    justify-content: center;
}
/* align items */
.align-center {
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}
/* position */
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
/* cursor pointer */
.pointer {
    cursor: pointer;
}